html,
body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.mdp {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(25, 25, 25, 0.89);

  .btn {
    cursor: pointer;
    background: none;
    border: none;
    color: #000000;
    outline: none;
    &:hover,
    &:active,
    &:target {
      background: none;
      outline: none;
    }
    &.btn-close {
      position: absolute;
      top: -55px;
      right: -55px;
      width: 50px;
      height: 50px;
      background-image: url("../img/times-solid-white.svg");
      background-position: center;
      background-repeat: no-repeat;
      background-size: 25px;
      transform: rotate(0);
      transition: all 500ms;
      &:hover {
        transform: rotate(180deg);
      }
    }
    &.btn-prev {
      display: flex;
      justify-content: center;
      align-items: center;
      background: #fafafa;
      color: #fff;
      font-weight: 600;
      padding: 1rem;
      margin: 1rem;
      border-radius: 2rem;
      border: 1px solid #e8e8e8;
      height: 50px;
      min-width: 50px;
      transition: background 300ms;
      &:hover {
        background: #eee;
      }
    }
    &.btn-next {
      display: flex;
      justify-content: center;
      align-items: center;
      background: #c0af9b;
      color: #fff;
      font-size: 1.2rem;
      font-weight: 600;
      padding: 1rem 2rem;
      margin: 1rem;
      border-radius: 2rem;
      height: 50px;
      min-width: 50px;
      transition: background 300ms;
      &:hover {
        background: #a58f74;
      }
    }
    &.btn-send {
      display: flex;
      justify-content: center;
      align-items: center;
      background: #4caf50;
      color: #fff;
      font-size: 1.2rem;
      font-weight: 600;
      padding: 1rem 2rem;
      margin: 1rem;
      border-radius: 2rem;
      height: 50px;
      min-width: 50px;
      transition: background 300ms;
      &:hover {
        background: #498d4c;
      }
    }

    .btn--icon {
      height: 1rem;
      width: auto;
      height: 1.5rem;
      display: flex;
    }
  }
  .mdp-modal {
    display: flex;
    position: fixed;
    top: 100px;
    right: 20px;
    left: 20px;
    margin: auto;
    min-width: 650px;
    max-width: 1200px;
    min-height: 650px;
    background: white;
  }
  .mdp-modal-content {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
  }
  .mdp-modal-info {
    min-width: 225px;
    max-width: 225px;
    background: #f7f7f7;
    padding: 1rem 2rem;
  }

  .mdp-content-header {
    padding: 0 30px;
    min-height: 50px;
    border-bottom: solid 1px #e6e6e6;
  }
  .mdp-content-body {
    position: relative;
    flex-grow: 1;
  }
  .mdp-position {
    display: flex;
    flex-direction: column;
    position: absolute;
    padding: 0 30px;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 0;
    z-index: 0;
    overflow: hidden;
    transition: opacity 500ms;
    &.active {
      opacity: 1;
      z-index: 1;
    }
  }
  .mdp-content-footer {
    padding: 0 30px;
    min-height: 50px;
    border-top: solid 1px #e6e6e6;
  }
  .mdp-content-title {
    font-size: 1.5rem;
    font-weight: 400;
  }
  .mdp-content-input {
    label {
      font-size: 1.5rem;
      margin: 1rem 0.5rem 0;
      color: #767676;
    }
    input {
      background: #ededed;
      border: 1px solid #cccccc;
      border-radius: 3px;
      color: #6d6d6d;
      height: 2.6rem;
      font-size: 1.5rem;
      padding: 0.2rem 1rem;
      outline: none;
      &:active,
      &:target,
      &:active,
      &:focus {
        border: 1px solid #848484;
        outline: none;
      }
      &.error {
        border-color: #f44336;
      }
    }
  }

  .mdp-content-items {
    display: flex;
    flex-wrap: wrap;
    overflow: auto;
  }
  .mdp-content-item-default {
    position: relative;
    margin-right: 1rem;
    margin-bottom: 2rem;
    height: fit-content;
    width: 195px;
    min-width: 195px;
    border: 1px solid #e6e6e6;
    border-radius: 3px;
    overflow: hidden;
    transition: all ease 300ms;
    cursor: pointer;
    &:hover,
    &:target,
    &:active {
      box-shadow: 0px 0px 2px 1px rgba(0, 0, 0, 0.42);
    }
    .mdp-item-img {
      max-height: 240px;
      object-fit: cover;
    }
    .mdp-label {
      margin: 1.25rem 0.35rem 0.8rem;
      color: #727272;
    }
  }

  .mdp-content-item {
    @extend .mdp-content-item-default;

    &.style-2 {
      position: relative;
      border: 1px solid #eee;
      padding: 1rem 0.5rem 1rem 3rem;
      margin-bottom: 1rem;
      width: auto;
      cursor: pointer;
      &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 3rem;
        background-image: url("../img/check-solid.svg");
        background-size: 1rem;
        background-position: center;
        background-repeat: no-repeat;
        opacity: 0.5;
      }
      .mdp-label {
        margin: 0;
        padding: 0;
      }
    }
  }
  .mdp-content-select {
    @extend .mdp-content-item-default;

    &.selected {
      &::before {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        margin: 15px;
        height: 40px;
        width: 40px;
        background: #c0af9b;
        background-image: url("../img/check-solid-white.svg");
        background-size: 25px;
        background-position: center;
        background-repeat: no-repeat;
        border-radius: 100%;
        border: 1px solid #a58f74;
        box-shadow: 0px 0px 3px 1px rgba(0, 0, 0, 0.5);
      }
    }
  }

  // FLEX
  .d-flex {
    display: flex;
  }
  .flex-column {
    flex-direction: column;
  }
  .flex-row {
    flex-direction: row;
  }
  .justify-content-center {
    justify-content: center;
  }
  .justify-content-start {
    justify-content: flex-start;
  }
  .justify-content-end {
    justify-content: flex-end;
  }
  .justify-items-center {
    justify-items: center;
  }
  .justify-items-start {
    justify-items: flex-start;
  }
  .justify-items-end {
    justify-items: flex-end;
  }
  .justify-self-center {
    justify-self: center;
  }
  .justify-self-start {
    justify-self: flex-start;
  }
  .justify-self-end {
    justify-self: flex-end;
  }
  .align-content-center {
    align-content: center;
  }
  .align-content-start {
    align-content: flex-start;
  }
  .align-content-end {
    align-content: flex-end;
  }
  .align-items-center {
    align-items: center;
  }
  .align-items-start {
    align-items: flex-start;
  }
  .align-items-end {
    align-items: flex-end;
  }
  .align-self-center {
    align-self: center;
  }
  .align-self-start {
    align-self: flex-start;
  }
  .align-self-end {
    align-self: flex-end;
  }

  .flex-grow-1 {
    flex-grow: 1;
  }
  .flex-wrap {
    flex-wrap: wrap;
  }
}

body.mdp-active {
  overflow: hidden;
  .mdp {
    display: block;
  }
}

.mdp-form {
  .discount {
    display: flex;

    padding: 1.2rem 0.5rem;
    text-align: center;
    justify-content: space-between;
    align-items: center;
    font-weight: 700;
    color: #312f37;
    border-radius: 3px;
    box-shadow: 0 3px 10px 0 rgba(255, 221, 111, 0.36);
    background-color: #ffdd6f;
    .discount-label {
      flex-grow: 1;
      text-align: left;
    }
    .discount-val {
      flex-grow: 1;
      text-align: right;
    }

    #SpanDiscount {
      margin: 0 0.2rem;
    }
  }
  .info {
    margin: 1rem 0;
    padding: 1rem 0.5rem;
    background: white;
    border-radius: 3px;
  }
  .send {
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 1;
    transition: all 300ms;
    &.hidden {
      opacity: 0;
      pointer-events: none;
    }
  }
}
